doctype html
html(lang="en" )
  head
    link(rel="stylesheet" href="app/assets/css/app.css")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.js")
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular-route.js")

    base(href="/")
    block title
      title Simple Rent

  body(ng-app="simple")
    div(ng-view)
    script(src="app/app.js")
    


